.popover {
	list-style-type: none;
        width: 100%;
        background-color: #FAFAFA;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        margin: 0;
        padding: 20px 25px;
        position: absolute;
        top: 100%;
        left: -50px;
        visibility: hidden;
}

.popover > li {
         margin-top: 15px;
}

.popover li h2 {
         font-size: 16px;
         margin: 0;
}       

.popover ul {
         list-style-type: none;
         padding-left: 20px
}	
